.curriculum {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 0px;
  gap: 200px;
  margin: 40px;
  border-radius: 20px;
  border: solid 1px rgba(255, 202, 133, 0);
}

.curriculum p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.curriculum .cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.curriculum .cv-container iframe {
  width: 600px;
  height: 800px;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.curriculum .cv-container a {
  background-color: rgb(41, 42, 55);
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: white;
  border: solid 2px rgb(255, 202, 133);
}

.blur-text {
  font-size: 2.5rem;
}
.curriculum .cv-container a:hover {
  animation: jump 0.6s ease-in-out;
  background-color: rgb(255, 202, 133);
  color: black;
}

.curriculum .experience-container {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.curriculum .experience-container .experience-item {
  background-color: rgb(45, 47, 45);
  font-size: 1.2rem;
  padding: 50px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}

.curriculum .experience-container .experience-item p {
  font-size: 1.2rem;
}
.curriculum .experience-container .education-item {
  background-color: rgb(45, 47, 45);

  font-weight: 900;

  padding: 20px 50px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
}

.curriculum .experience-container .education-item:hover,
.curriculum .experience-container .experience-item:hover,
.curriculum .cv-container iframe:hover {
  animation: jump 0.6s ease-in-out;
}

@media (max-width: 480px) {
  .curriculum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    gap: 50px;
    margin: 0px;
    height: auto;
  }

  .curriculum .cv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: auto;
    width: 90%;
  }

  .curriculum .cv-container iframe {
    width: 100%;
    flex-grow: 1;
    height: 60vh;

    border-radius: 10px;
  }

  .curriculum .experience-container {
    display: flex;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .curriculum .experience-container .education-item {
    padding: 20px 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    width: 60%;
  }

  .curriculum .experience-container .experience-item {
    background-color: rgb(45, 47, 45);
    font-size: 1.2rem;
    padding: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
  }

  .curriculum .experience-container .experience-item p {
    font-size: 1.3rem;
  }

  .curriculum .experience-container .education-item p {
    font-size: 1.3rem;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .curriculum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    gap: 50px;
    margin: 0px;

    height: auto;
  }

  .curriculum .cv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: auto;
    width: 90%;
  }

  .curriculum .cv-container iframe {
    width: 100%;
    flex-grow: 1;
    height: 80vh;

    border-radius: 10px;
  }

  .curriculum .experience-container {
    display: flex;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .curriculum .experience-container .education-item {
    padding: 20px 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    width: 60%;
  }

  .curriculum .experience-container .experience-item {
    background-color: rgb(45, 47, 45);
    font-size: 1.2rem;
    padding: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
  }

  .blur-text {
    font-size: 2rem;
  }
}

@media (min-width: 1025px) and (max-width: 1360px) {
  .curriculum {
    padding: 50px 50px;
    gap: 100px;
    margin: 0px;
  }

  .curriculum .cv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: auto;
    width: 90%;
  }

  .curriculum .cv-container iframe {
    width: 100%;
    flex-grow: 1;
    height: 90vh;
  }

  .curriculum .experience-container {
    padding: 0px;
    gap: 20px;
    width: 70%;
  }

  .blur-text {
    font-size: 2rem;
  }

  .curriculum .experience-container .experience-item p {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }
}
