.projects {
  background-color: rgba(18, 18, 18, 0.686);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 10px;
  padding: 50px 0px;
  border-top: 2px solid rgb(255, 202, 133);
  border-bottom: 2px solid rgb(255, 202, 133);
}
.carousel-indicator {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  cursor: pointer;
  font-size: 35px;
  margin: 0 5px;
  color: #4f4e4e;
  transition: color 0.3s;
}

.dot.active {
  color: rgb(255, 202, 133);
}

.projects h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.projects .project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 30px;

  width: 90%;
  margin: 0 auto;
}

.projects .project-list .project-card {
  background-color: rgb(41, 42, 55);
  width: 100%;
  gap: 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 20px 50px;
  border-radius: 8px;
  min-height: 300px; /* Ajusta según la necesidad */
}

.projects .project-list article img {
  width: 22rem;
  height: 200px;
  display: block;
  border-radius: 8px;
  background-color: rgb(27, 27, 40);
  padding: 30px 30px;
  transition: transform 0.3s ease-out;
}
.projects .project-list article img:hover {
  transition: transform 0.3s ease-out;
  transform-origin: center;
  transform: rotate(-5deg);
}

.projects .project-list article h2 {
  text-align: left;
  margin: 0;

  color: rgb(255, 202, 133);
  font-size: 1.8rem;
  font-weight: 900;
}

.projects .project-list article p {
  margin-bottom: 10px;
  margin: 0;
  font-size: 1.2rem;
}

.project-card .project-content {
  text-align: left;
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 50px;
}

.project-card .project-content .project-links a {
  background-color: rgb(27, 27, 40);
  border-radius: 10px;
  margin-right: 20px;
  padding: 12px 20px;
  color: white;
  border: 1px rgb(255, 202, 133) solid;
}

.project-card .project-content .project-links a:hover {
  background-color: rgb(255, 202, 133);
  border-radius: 10px;
  margin-right: 20px;
  padding: 12px 20px;
  color: black;
  border: 1px rgb(255, 202, 133) solid;
  animation: jump 0.6s ease-in-out;
}

.project-card .project-content .project-links {
  height: 50px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}

.projects .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0px;
}
.projects .carousel-container button {
  color: rgb(255, 202, 133);
  border: 0;
  font-size: 5rem;
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 480px) {
  .projects .project-list .project-card {
    background-color: rgb(41, 42, 55);
    width: 90%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    min-height: 250px; /* Ajusta según la necesidad */
  }

  .project-card .project-content {
    text-align: left;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .projects .project-list article h2 {
    text-align: left;
    margin: 0;
    color: rgb(255, 202, 133);
    font-size: 1.5rem;
    font-weight: 900;
  }

  .projects .project-list article p {
    margin-bottom: 10px;
    margin: 0;
    font-size: 1.3rem;
  }

  .projects .project-list {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .projects .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0px;
  }

  .projects .carousel-container button {
    color: rgb(255, 202, 133);
    border: 0;
    font-size: 1rem;
  }

  .projects .carousel-content {
    color: rgb(255, 202, 133);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .projects .project-list article img {
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 8px;
    background-color: rgba(83, 83, 85, 0);
    padding: 0px 0px;
    transition: transform 0.3s ease-out;
  }

  .projects .project-list article p {
    color: white;
  }

  .projects .carousel-container button {
    color: rgb(255, 202, 133);
    border: 0;
    font-size: 4rem;
    position: absolute;
    bottom: -80px;
  }

  .projects .carousel-container .carousel-button-left {
    margin-left: -200px;
  }

  .projects .carousel-container .carousel-button-right {
    margin-right: -200px;
  }

  .projects h1 span {
    font-size: 3.5rem;
    margin-bottom: 40px;
    background-color: red;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .projects .project-list .project-card {
    width: 70%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    min-height: 250px; /* Ajusta según la necesidad */
  }

  .project-card .project-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .projects .project-list article h2 {
    text-align: left;
    margin: 0;
    color: rgb(255, 202, 133);
    font-size: 1.4rem;
    font-weight: 900;
  }

  .projects .project-list article p {
    margin-bottom: 10px;
    margin: 0;
    font-size: 1.2rem;
  }

  .projects .project-list {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .projects .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0px;
  }

  .projects .carousel-container button {
    color: rgb(255, 202, 133);
    border: 0;
    font-size: 1rem;
  }

  .projects .carousel-content {
    color: rgb(255, 202, 133);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 90%;
  }
  .projects .project-list article img {
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 8px;
    background-color: rgba(35, 35, 207, 0.954);
    padding: 0;
    transition: transform 0.3s ease-out;
  }

  .projects .project-list article p {
    color: white;
  }

  .projects .carousel-container button {
    color: rgb(255, 202, 133);
    border: 0;
    font-size: 3rem;
    position: absolute;
    bottom: -80px;
  }

  .projects .carousel-container .carousel-button-left {
    margin-left: -200px;
  }

  .projects .carousel-container .carousel-button-right {
    margin-right: -200px;
  }

  .projects h1 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .projects .project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 30px;
    padding: 0px 0px;
    width: 100%;
    margin: 0 auto;
  }

  .projects .project-list .project-card {
    background-color: rgb(41, 42, 55);
    width: 100%;
    gap: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 20px 0px;
    border-radius: 8px;
    min-height: 300px; /* Ajusta según la necesidad */
  }

  .projects .project-list article img {
    width: 17rem;
    height: 200px;
    display: block;
    border-radius: 8px;
    background-color: rgb(27, 27, 40);
    padding: 30px 30px;
    margin-left: 30px;
    transition: transform 0.3s ease-out;
  }
  .projects .project-list article img:hover {
    transition: transform 0.3s ease-out;
    transform-origin: center;
    transform: rotate(-5deg);
  }

  .projects .project-list article h2 {
    text-align: left;
    margin: 0;

    color: rgb(255, 202, 133);
    font-size: 1.5rem;
    font-weight: 900;
  }

  .projects .project-list article p {
    margin-bottom: 10px;
    margin: 0;
    font-size: 1rem;
  }

  .project-card .project-content {
    text-align: left;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 50px;
  }

  .project-card .project-content .project-links a {
    background-color: rgb(48, 47, 45);
    border-radius: 10px;
    margin-right: 20px;
    padding: 12px 20px;
    color: white;
    border: 1px white solid;
  }

  .project-card .project-content .project-links {
    height: 50px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
  }

  .projects .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 0;
    width: 90vw;
    padding: 0px 50px;
  }
  .projects .carousel-container .carousel-button-left {
    margin-right: 20px;
  }

  .projects .carousel-container .carousel-button-right {
    margin-left: 20px;
  }
}
